header {
	width: 100%;
	height: 40px;
	background-color: #000080;
	margin-bottom: 10px;
	padding-top: 5px;
}
.tab-pane {
	padding-top: 10px;
}
.rounded {
	width: 100%;
	height: 100%;
}
.nav-center { 
  	text-align: center;
  	padding-top: 5px;
}
.nav-center ul.nav {
	display: inline-block;
}
.nav-center a {
	float: left;
}
.tab-border {
	border: 1px solid blue;
	border-radius: 8px;
}
.font-text {
	color: #FFF;
	padding-top: 5px;
}
.search-form {
	width: 400px;
	height: 30px;
}
.panel-login {
	width: 400px;
	padding: 10px;
}
.panel-images {
	width: 250px;
	height: 80px;
	padding: 10px;
	text-align: center;
}
.img-circle {
	margin-left: 10px;
	margin-right: 5px;
}
.link-center {
	text-align: center;
}

