#viewer {
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  height: 40px;
  border: solid green;
  padding-right: 10px;
}

button{
	background: gray;
	color: white;
	width: 75px;
	height: 50px;
}