= form_for @user do |f|
  div
    |  Name: 
    = text_field(:user, :name)
  div
    |  Age: 
    = f.number_field :age
  div
    |  Gender: Male 
    = f.radio_button :gender, 'male'
    |  Female 
    = f.radio_button :gender, 'female'
  div
    |  Favorite colors:
    = f.check_box :favorite_colors
  div
    |  City: 
    = select_tag 'city', options_for_select(['Los Angeles','New York'])
